
<div><%= link_to "Add a new question", new_question_path %></div>


  <% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <%= link_to('Edit registration', edit_user_registration_path) %>        
    </li>
    <% if @question && @questions %>
      Question: <span class="question"><%= @question.question %> </span>
      <%= button_to 'True', question_answers_path(@question),  method: :post, params: {guess: :true}%>
      <%= button_to 'False', question_answers_path(@question),  method: :post, params: {guess: :false}%>
      
      <h4>Correct Answers: <%= @question.average_correct %></h4>

    <% elsif @questions.empty? %>
      <div>No questions yet</div>
    <% else %>
      <div>You have answered all available questions</div>
    <% end %>
  <% else %>
    <h3>Please sign in or register to play quiz</h3>
  <% end %>


