<%= form_for @question do |f| %>
  <p>
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </p>
 
  <p>
    <%= f.label :answer %><br>
    <%= f.radio_button :answer, true, :checked=> true%>True
    <%= f.radio_button :answer, false %>False
  </p>
 
  <p>
    <%= f.submit "Add question"%>
  </p>
<% end %>